name: Publish to Maven
on:
  workflow_dispatch:
  push:
    branches:
      - release
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Publish
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -no-daemon --no-parallel --stacktrace -DSONATYPE_USERNAME="$SONATYPE_USERNAME" -DSONATYPE_PASSWORD="$SONATYPE_PASSWORD" -DGPG_PRIVATE_PASSWORD="$GPG_PRIVATE_PASSWORD" -DGPG_PRIVATE_KEY="$GPG_PRIVATE_KEY"
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_TOKEN_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_TOKEN_PASSWORD }}
          SONATYPE_REPOSITORY_ID: ${{ needs.create_staging_repository.outputs.repository_id }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PRIVATE_PASSWORD: ${{ secrets.GPG_PRIVATE_PASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_TOKEN_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_TOKEN_PASSWORD }}

